{
  "name": "com.nickel.nickel_tools",
  "description": "Native host for the nickel.tools extension",
  "path": "__HOST_EXE_PATH__",
  "type": "stdio",
  "allowed_origins": ["chrome-extension://lnpcggkomlddjkfpkbamcjkdkpnheejm/"]
}
